//
// ## Island
//

// ### inuit.css (http://inuitcss.com/)

.island
  padding: pixels(base-spacing-unit)
  padding: base-spacing-unit

.landmark
  padding: pixels(base-spacing-unit * 2)
  padding: base-spacing-unit *2
