//
// ## Layout
//

.wrapper
  margin: 0 auto
  max-width: pixels(36rem)
  max-width: 36rem

.site-header
  margin-top: pixels(base-spacing-unit * 2)
  margin-top: base-spacing-unit * 2

.site-logo
  font-sizer(3.5rem)

.site-content
  padding: pixels(base-spacing-unit) 0
  padding: base-spacing-unit 0

.site-footer
  position: absolute
  left: 0
  bottom: 0
  height: sticky-footer
  width: 100%

.site-header,
.site-footer
  background-color: base-brand-color
  color: base-background-color
