//
// ## Navigation
//

.nav
  list-style: none
  margin-left: 0
  > li
    margin-right: (base-spacing-unit * 2)
    margin-right: base-spacing-unit * 2
    display: inline-block
    &:last-child
      margin-right: 0
