//
// ## Tables
//

caption
  margin-bottom: pixels(base-spacing-unit * 0.5)
  margin-bottom: base-spacing-unit * 0.5

table
  width: 100%

th
  background-color: dark-background-color

td
  vertical-align: top

table,
td
  border: 1px solid light-font-color

th,
td
  padding: pixels((base-spacing-unit / 6)) pixels((base-spacing-unit / 3))
  padding: (base-spacing-unit / 6) (base-spacing-unit / 3)
