---
title: "Home"
layout: "page"
---

<div class="banner space-more">
  <h1>Hi,</h1>
  <p>My name is Ellen and I &hearts; the web.</p>
</div><!-- /banner -->
<ul class="secret-list cramp">
  {% for button in site.data.buttons %}
  <li class="space">
    {% if button.title == "Blog" %}
    <a class="button button--full button--brand" href="{{ button.url }}">{{ button.title }}</a>
    {% else %}
    <a class="button button--full button--{{ button.title | downcase | replace:'+','-plus' }}" href="{{ button.url }}">{{ button.title }}</a>
    {% endif %}
  </li>
  {% endfor %}
</ul><!-- /secret-list -->
