//
// ### Base
//

html
  background-color: color.base.bg
  color: color.base.fg
  font: 400 1em/1.5 "Anaheim", Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  @media palm
    font-size: 0.875em
  @media lap
    font-size: 1.125em
  @media desk
    font-size: 1.25em
