//
// ### Base
//

html
  font: 300 1em/1.5 "Source Sans Pro", Helvetica, Arial, sans-serif
  background-color: color.base.bg
  color: color.base.fg
  @media palm
    font-size: 0.875em
  @media lap
    font-size: 1.125em
  @media desk
    font-size: 1.25em
