/*=================================================
   Eric Meyer's CSS Reset
   (http://meyerweb.com/eric/tools/css/reset/)
=================================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin        : 0;
  padding       : 0;
  border        : 0;
  font-size     : 100%;
  font          : inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body { 
  line-height: 1; 
}

ol, ul { 
  list-style: none; 
}

a {
  text-decoration: none;
  outline        : none;
}

blockquote, q { 
  quotes: none; 
}

  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }

table {
  border-collapse: collapse;
  border-spacing : 0;
}

/*--------
   Body
--------*/

body {
  font                  : 125%/1.5 "Asap", Helvetica, Arial, Sans-serif; /* 20px/30px */
  -webkit-font-smoothing: antialiased;
  background-color      : #fcfcfc;
  color                 : #333;
}

::selection, -moz-::selection {
  color           : #333;
  background-color: #ccc;
}

/*--------
   Type
--------*/

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: "Oswald", Helvetica, Arial, Sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.125em;
}

h5, h6 {
  font-size: 1em;
}

/*----------------------------------------------------------------------
   Temporary quick fixes for displaying the columns more efficiently.
----------------------------------------------------------------------*/

[class^="column-"],
[class^="unit-"] {
  background-color: #ccc;
  text-align      : center;
  margin-bottom   : 10px;
}

.bg-fix {
  background-color: #fcfcfc;
}

.unit-bg {
  background-color: #aaa;
}

.text {
  text-align: left;
}

  .text p {
    margin-bottom: 1.5em;
    text-align   : justify;
  }

  .text p:last-child {
    margin-bottom: 0;
  }

.margin {
  margin: 20px 0;
}

/* iPhone/Smartphone (Landscape) */
@media screen and (max-width: 480px), screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {

  .margin {
    margin: 10px 0;
  }

}