/*==============
    Begrider
==============*/

/*---------
   Grids
---------*/

.container {
	/* Allows padding and borders on grids without breaking the grid and columns. */
	-moz-box-sizing   : border-box; 
	-webkit-box-sizing: border-box;
	box-sizing        : border-box;
	width : 95%; /* The width of the the .container (with fluid margins so that the grid doesn't "hit the sides" of the browser when it gets smaller/narrower). */
	height: 100%; /* Makes the height of the .container the full height of the browser. */
	margin: 0 auto; /* Makes the .container align to the center of the screen. */
}

	.grid { 
		max-width: 1140px; /* Sets the width of the .grid. */
		margin   : 0 auto; /* Aligns it to the center of the screen. */
	}

	.row { 
		clear   : both; /* Clears the floating columns. */
		overflow: hidden; /*Hides any overflowing content. */
	}

		[class^="col-"] { /* Attribute selector: applies the float, margin-right and min-height to all of the .col- classes. */
			min-height  : 1px; /* Applies a 1px height to the .col- classes so that they can work properly without any content in them. */
			margin-right: 2.85%; /* The "gutter" between the columns. */
			float       : left; /* Floats them to the left. */
		}

		.col-twelve {
			width       : 99.75%;
			margin-right: 0; /* Removes the margin-right since the .col-twelve class covers (practically) the whole width of a .row class. */
		}

		.col-eleven {
			width: 91.2%;
		}

		.col-ten {
			width: 82.65%;
		}

		.col-nine {
			width: 74.1%;
		}

		.col-eight {
			width: 65.55%;
		}

		.col-seven {
			width: 57%;
		}

		.col-six {
			width: 48.45%;
		}

		.col-five {
			width: 39.9%;
		}

		.col-four {
			width: 31.35%;
		}

		.col-three {
			width: 22.8%;
		}

		.col-two {
			width: 14.25%;
		}

		.col-one {
			width: 5.7%;
		}

	.last { /*Apply this after the last .col- class in the same .row (example: <div class="col-one last"></div>), except for when you use .col-twelve. */
		margin-right: 0; /* Removes margin-right. */
	}

/*-----------------
   Media Queries
-----------------*/

/* iPad/Tablet (Portrait) */

@media only screen and (max-width: 768px) {

	[class^="col-"] {
		width     : 100%; /*Makes the .col- classes stretch out across the screen. */
		min-height: 0; /* Removes the min-height so that the .col- classes without any content doesn't take up any unneccassary space. */
		float     : none; /* Removes the floats. */
	}

}

/* iPhone/Smartphone (Landscape) */

@media only screen and (max-width: 480px) {

	.container {
		width: 92.5%; /* Adjusts the width for a smaller/narrower screen. */
	}

}