/*==============
    Begrider
==============*/

/*---------------------------
    Container (.container)
---------------------------*/

.container {
  /* Allows padding and borders on the system without breaking the grid and columns (+IE8). */
  -moz-box-sizing   : border-box;
  -webkit-box-sizing: border-box;
  box-sizing        : border-box;
  width : 95%;    /* The width of the the .container (with fluid margins so that the grid doesn't crash into the sides when the browser gets smaller/narrower). */
  height: 100%;   /* Makes the height of the .container the full height of the browser. */
  margin: 0 auto; /* Makes the .container align to the center of the screen. */
}

/*----------------
   Grid (.grid)
----------------*/

.grid {
  max-width: 1140px; /* Sets the width of the .grid. */
  margin   : 0 auto; /* Aligns the .grid to the center of the screen. */
}

/*--------------
   Row (.row)
--------------*/

.grid .row {
  clear   : both;   /* Clears the floating columns. */
  overflow: hidden; /* Hides any overflowing content. */
}

  /* Applies the float and min-height to all of the .column- and .unit- classes. */
  .row [class^="column-"],
  .row [class^="unit-"] {
    float     : left; /* Floats the .column- and .unit- classes to the left. */
    min-height: 1px;  /* Applies a 1px height to the .column- and .unit- classes so that they can work properly without any content in them. */
  }

  /* Applies the margin-right/gutter to the .column- classes. */
  .row [class^="column-"] {
    margin-right: 2.85%;
  }

    /* == FOR +IE9 SUPPORT == */
    /* Removes the margin-right/gutter on the last .column- class in the same .row. */
    .row [class^="column-"]:last-child {
      margin-right: 0;
    }

    /* == FOR +IE8 SUPPORT == */
    /* Apply this after the last .column- class in the same .row. Example: <div class="column-seven last"></div>. */
    .row .last {
      margin-right: 0;
    }

/*----------------------
   Columns (.column-)
----------------------*/

/* Twelve columns */
.row .column-twelve {
  width: 99.99%;
  /* margin-right: 0; Uncommented this if you're using .last. */
}

/* Eleven columns */
.row .column-eleven {
  width: 91.42%;
}

/* Ten columns */
.row .column-ten {
  width: 82.85%;
}

/* Nine columns */
.row .column-nine {
  width: 74.28%;
}

/* Eight columns */
.row .column-eight {
  width: 65.71%;
}

/* Seven columns */
.row .column-seven {
  width: 57.14%;
}

/* Six columns */
.row .column-six {
  width: 48.57%;
}

/* Five columns */
.row .column-five {
  width: 40%;
}

/* Four columns */
.row .column-four {
  width: 31.43%;
}

/* Three columns */
.row .column-three {
  width: 22.86%;
}

/* Two columns */
.row .column-two {
  width: 14.29%;
}

/* One column */
.row .column-one {
  width: 5.72%;
}

/*------------------
   Units (.unit-)
------------------*/

/* 100% wide */
.row .unit-full {
  width: 100%;
}

/* 80% wide */
.row .unit-four-fifths {
  width: 80%;
}

/* 75% wide */
.row .unit-three-quarters {
  width: 75%;
}

/* 66.66% wide */
.row .unit-two-thirds {
  width: 66.66%;
}

/* 60% wide */
.row .unit-three-fifths {
  width: 60%;
}

/* 50% wide */
.row .unit-half {
  width: 50%;
}

/* 40% wide */
.row .unit-two-fifths {
  width: 40%;
}

/* 33.33% wide */
.row .unit-one-third {
  width: 33.33%;
}

/* 25% wide */
.row .unit-one-quarter {
  width: 25%;
}

/* 20% wide */
.row .unit-one-fifth {
  width: 20%;
}

/*---------------------------
    Media Queries (@media)
---------------------------*/

/* Smaller Screens */
@media screen and (max-width: 1024px) {

  /* Makes the images adjust to the screen size when it get's smaller/narrower. */
  img {
    max-width : 100%;
    max-height: auto;
  }

}
/* iPad/Tablet (Portrait) */
@media screen and (max-width: 768px), screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .row [class^="column-"],
  .row [class^="unit-"] {
    float     : none; /* Removes the floats. */
    width     : 100%; /* Makes the .column- and .unit- classes stretch out across the screen. */
    min-height: 0;    /* Removes the min-height so that the .column- and .unit- classes without any content doesn't take up any unneccassary space. */
  }

  .row [class^="column-"] {
    margin-right: 0; /* Removes the margin-right/gutter. */
  }
}
/* iPhone/Smartphone (Landscape) */
@media screen and (max-width: 480px), screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {

  .container {
    width: 92.5%; /* Adjusts the width for a smaller/narrower screen. */
  }

}
