//
// ### Footnotes (kramdown)
//

.footnotes
  font-size: base.fontSize * 0.875
  p
    margin-bottom: base.spacingUnit * 0.5

.footnote,
.reversefootnote
  &,
  &:visited
    color: inherit
    text-decoration: none
