/**
 * Code
 */

pre {
  padding: $base-spacing-size / 3;
  line-height: 1.25;
  background-color: $code-background-color;
  color: $code-font-color;
}

code {
  font-family: $code-font-family;
  font-size: 0.875em;
}
