/**
 * Type
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a {
  color: inherit;
}

a:hover,
a:focus,
a:visited {
  color: $base-brand-color;
}

blockquote {
  padding: $base-spacing-size / 2;
  font-size: $base-font-size * 0.875;
  background-color: $code-background-color;
}

blockquote p:last-of-type {
  margin-bottom: 0;
}

hr {
  text-align: center;
}

hr:after {
  color: $base-brand-color;
  content: "\2022";
}
