/**
 * Variables
 */

$base-spacing-size: 1.5rem;
$base-max-width: 32rem;
$base-font-size: 1rem;

$base-font-family: "Anaheim", serif;
$base-background-color: #fff;
$base-font-color: #111;
$base-brand-color: #aaa;

$code-font-family: "Fira Mono", monospace;
$code-background-color: #f1f1f1;
$code-font-color: #212121;

$media-xs: "screen and (max-width: 30em)";
$media-sm: "screen and (min-width: 48em)";
$media-md: "screen and (min-width: 64em)";
$media-lg: "screen and (min-width: 80em)";
$media-xl: "screen and (min-width: 96em)";
