/*=======================
    ellengummesson.com
=========================

    + Body
      - Structure
    + Type
      - Headings
      - Anchors
      - Quotes
      - Code
    + Lists
    + Navigation
    + Shared
      - Specific
    + Grid System
      - Grids
      - Media Queries

=======================*/

/*==========
    Body
==========*/

html {
  -moz-box-sizing         : border-box; 
  -webkit-box-sizing      : border-box;
  box-sizing              : border-box;
  -webkit-font-smoothing  : antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust    : 100%;
}

body {
  font            : 125%/1.5 "Asap", Helvetica, Arial, Sans-serif; /* 20px / 30px */
  color           : #333;
  background-color: #fafafa;
}

::-webkit-selection {
  background-color: #ccc;
}

::-moz-selection {
  background-color: #ccc;
}

::selection {
  background-color: #ccc;
}

/*-------------
   Structure
-------------*/

.main-header {
  margin-top: 2.25em;
}

.main-content {
  margin-top: 1.75em;
}

.main-menu {
  margin-top: 0.25em;
}

.main-footer {
  margin-top: 1em;
}

/*==========
    Type
==========*/

/*------------
   Headings
------------*/

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  margin     : 0.125em 0;
}

h1, .alpha {
  font-size: 2em;
}

  .logo {
    font-size: 3.5em;
  }

h2, .beta {
  font-size: 1.5em;
}

h3, .gamma {
  font-size: 1.25em;
}

h4, .delta {
  font-size: 1.125em;
}

h5, .epsilon, 
h6, .zeta {
  font-size: 1em;
}

/*-----------
   Anchors
-----------*/

a {
  color             : #333;
  border-bottom     : 1px solid #ccc;
  -webkit-transition: all 75ms linear;
  -moz-transition   : all 75ms linear;
  -ms-transition    : all 75ms linear;
  -o-transition     : all 75ms linear;
  transition        : all 75ms linear;
}

.no-border, .no-border a,
.logo a, .logo a:hover, .logo a:focus,
img a, img a:hover, img a:focus {
  border-bottom: 1px solid transparent;
}

  a:hover, a:focus,
  .no-border a:hover, .no-border a:focus {
   color: #ccc;
  }

  a:active {
    position: relative;
    top     : 1px;
  }

/*----------
   Quotes
----------*/

blockquote {
  border-left: 0.25em solid #ccc;
  padding    : 0 1em;
  font-style : italic;
}

  blockquote cite:before {
    content: "\2014 \00A0";
  }

/*--------
   Code
--------*/

pre {
  word-wrap       : normal;
  overflow        : auto; 
  line-height     : 1;
  background-color: #ddd;
  border-left     : 0.25em solid #ccc;
  padding         : 0.2em 0.35em 0.4em;
  margin-top      : 0.4em;
}

code {
  font-family     : Consolas, Monaco, Andale Mono, monospace;
  font-size       : 0.75em;
  background-color: #ddd;
  padding         : 0.10em 0.25em;
}

  pre > code {
    border    : none;
    padding   : 0;
    background: none;
}

/*===========
    Lists
===========*/

ol {
  list-style: decimal inside;
}

ul {
  list-style: square inside;
}

  ul ul,
  ol ol {
    margin-left: 1.5em;
  }

/*================
    Navigation
================*/

.nav,
.no-list,
.hz-list {
  list-style-type: none;
  margin-bottom  : 0;
}

  .nav li,
  .hz-list li {
    display     : inline-block;
    margin-right: 1.5em;
  }

  .nav li:last-child,
  .hz-list li:last-child {
    margin-right: 0;
  }

/*============
    Shared
============*/

h1, h2, h3, h4, h5, h6,
.sub-font {
  font-family: "Oswald", Helvetica, Arial, Sans-serif;
}

i, .italic,
em, .em {
  font-style: italic;
}

b, .bold,
strong, .strong {
  font-weight: bold;
}

p,
ul, ol,
blockquote,
pre,
.full-margin {
  margin-bottom: 1.5em;
}

small, .small,
blockquote p {
  font-size: 0.875em;
}

ul, 
ol {
  line-height: 1.75;
}

.big-margin,
.blog-post {
  margin-bottom: 2.25em;
}

/*------------
   Specific 
------------*/

.no-margin {
  margin-bottom: 0;
}

.mini-margin {
  margin-bottom: 0.25em;
}

.small-margin {
  margin-bottom: 0.5em;
}

.middle-margin {
  margin-bottom: 1.25em;
}

.blog-post:last-child {
  margin-bottom: 0;
}

.main-content p {
  text-align: justify;
}

  .main-content p a,
  .main-content li a {
    padding-bottom: 3px;
  }

  .separator {
    padding: 0 1.5em;
  }

    .no-link {
      color: #ccc;
    }

/*  Skills / Progress Bars */

.progress-bar { 
  float        : left;
  display      : block;
  width        : 100%; 
  height       : 0.5em; 
  background   : #ccc;
  border-radius: 0.15em;
  margin-bottom: 1em;
}

  .tip {
    float        : left;
    display      : block;
    width        : 100%; 
    height       : 0.5em; 
    background   : #333;
    border-radius: 0.15em 0 0 0.15em;
  }

/*=================
    Grid System
=================*/

/*---------
   Grids
---------*/

.container {
  width : 95%;
  height: 100%; 
  margin: 0 auto;
}

  .grid { 
    max-width: 1140px;
    margin   : 0 auto;
  }

  .grid .row { 
    clear   : both;
    overflow: hidden;
  }

    .row .col-twelve,
    .row .col-eleven,
    .row .col-ten,
    .row .col-nine,
    .row .col-eight,
    .row .col-seven,
    .row .col-six,
    .row .col-five,
    .row .col-four,
    .row .col-three,
    .row .col-two,
    .row .col-one {
      min-height  : 1em;
      margin-right: 2.85%;
      float       : left;
    }

    .row .last {
        margin-right: 0;
    }

        .row .col-twelve {
          width       : 99.99%;
          margin-right: 0;
        }

        .row .col-eleven {
          width: 91.42%;
        }

        .row .col-ten {
          width: 82.85%;
        }

        .row .col-nine {
          width: 74.28%;
        }

        .row .col-eight {
          width: 65.71%;
        }

        .row .col-seven {
          width: 57.14%;
        }

        .row .col-six {
          width: 48.57%;
        }

        .row .col-five {
          width: 40%;
        }

        .row .col-four {
          width: 31.43%;
        }

        .row .col-three {
          width: 22.86%;
        }

        .row .col-two {
          width: 14.29%;
        }

        .row .col-one {
          width: 5.72%;
        }

/*-----------------
   Media Queries
-----------------*/

/* Smaller screens */
@media screen and (max-width: 1024px), screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

  img { 
    max-width: 100%; 
    height   : auto;
  }

}

/* iPad/Tablet (Portrait) */
@media screen and (max-width: 768px), screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {

  body {
    font-size: 112.5%;
  }

  .row .col-twelve,
  .row .col-eleven,
  .row .col-ten,
  .row .col-nine,
  .row .col-eight,
  .row .col-seven,
  .row .col-six,
  .row .col-five,
  .row .col-four,
  .row .col-three,
  .row .col-two,
  .row .col-one {
    width       : 100%;
    min-height  : 0;
    margin-right: 0;
    float       : none;
  }

  .main-header {
    margin-top: 1.25em;
  }

}

/* iPhone/Smartphone (Landscape) */
@media screen and (max-width: 480px), screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {

  body {
    font-size: 100%;
  }

  .container {
    width: 92.5%;
  }

  .main-content {
    margin-top: 1em;
  }

}

/* iPhone/Smartphone (Portrait) */
@media screen and (max-width: 320px), screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {

  .main-header {
    margin-top: 1.25em;
  }

  .main-menu {
    margin-top: 0.25em;
  }

  .blog-post {
    margin-bottom: 2em; 
  }

}