/*=======================
    Table of Contents
=========================

    + Reset
    + Body
      - Structure
    + Type
      - Headings
      - Links
      - Quotes
      - Code
    + Navigation
    + Shared
      - Specific
      - Targeted
    + Grid System
      - Grids
      - Media Queries

=======================*/

/*=================================================
   Eric Meyer's CSS Reset
   (http://meyerweb.com/eric/tools/css/reset/)
=================================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin        : 0;
	padding       : 0;
	border        : 0;
	font-size     : 100%;
	font          : inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body { 
	line-height: 1; 
}

ol { 
	list-style: decimal inside; 
}

ul { 
	list-style: square inside; 
}

a {
	text-decoration: none;
	outline        : none;
}

img, img a {
	border: none;
}

blockquote, q { 
	quotes: none; 
}

	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing : 0;
}

/*=========
   Body
=========*/

* {
	-moz-box-sizing   : border-box; 
	-webkit-box-sizing: border-box;
	box-sizing        : border-box;
}

body {
	font            : 112.5%/1.5 "Vollkorn", Georgia, Times, Serif; /* 18px */
	background-color: #fdfdfd;
	color           : #222222;
}

::selection, -moz-::selection {
	color           :#fdfdfd;
	background-color: #f660ab;
}

/*-------------
   Structure
-------------*/

header {
	margin-top: 2em;
}

.content {
	margin-top: 1.5em;
}

footer {
	margin-top: 1em;
}

/*==========
    Type
==========*/

/*------------
   Headings
------------*/

h1, .alpha {
	font-size: 2em;
}

	.logo {
		font-size: 3.2em;
	}

h2, .beta {
	font-size: 1.5em;
}

h3, .gamma {
	font-size: 1.25em;
}

h4, .delta {
	font-size: 1.125em;
}

h5, .epsilon, 
h6, .zeta {
	font-size: 1em;
}

/*---------
   Links
---------*/

a {
	color             : #222222;
	border-bottom     : 1px dotted #999999;
	-webkit-transition: all 200ms linear;
	-moz-transition   : all 200ms linear;
	-ms-transition    : all 200ms linear;
	-o-transition     : all 200ms linear;
	transition        : all 200ms linear;
}

.no-border, 
.no-border a {
	border-bottom: none;
}

	a:hover, a:focus,
	.no-border a:hover,
	.no-border a:focus {
		color        : #ff60ab;
		border-bottom: 3px solid #ff60ab;
	}

	a:active {
		position: relative;
		top     : 1px;
	}

/*----------
   Quotes
----------*/

blockquote {
	border-left: 0.25em solid #999999;
	padding    : 0 1.5em;
}

	blockquote cite:before {
	    content: "\2014 \00A0";
	}

/*--------
   Code
 -------*/

pre {
	white-space     : pre-wrap;
	line-height     : 1;
	background-color: #dddddd;
	border          : 1px solid #999999;
	border-radius   : 0.15em;
	padding         : 0.25em;
	margin-top      : 0.25em;
	}

code {
	font-family     : "Ubuntu Mono", Consolas, Monaco, Andale Mono, monospace;
	font-size       : 0.75em;
	background-color: #dddddd;
	border          : 1px solid #999999;
	border-radius   : 0.25em;
	padding         : 0.1em 0.2em;
}

	pre > code {
		border : none;
		padding: 0;
	}

/*================
    Navigation
================*/

.nav, .nav ul,
.no-list {
	list-style: none;
	margin-bottom: 0;
}

	.nav li {
		display     : inline-block;
		margin-right: 1.5em;
	}

	.nav li:last-child {
		margin-right: 0;
	}

/*============
    Shared
============*/

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
.tagline,
.copyright,
.nav,
.post-meta,
.pagination,
.date {
	font-family: "Cabin", Helvetica, Arial, Sans-serif;
	font-weight: bold;
}

i, .italic,
em, .em {
	font-style: italic;
}

b, .bold,
strong, .strong {
	font-weight: bold;
}

p,
ul, ol,
blockquote,
pre,
.full-margin {
	margin-bottom: 1.5em;
}

.small,
blockquote p {
	font-size: 0.875em;
}

ul, ol,
.copyright {
	line-height: 1.75;
}

ul ul,
ol ol {
	margin-left: 1.5em;
}

/*------------
   Specific 
------------*/

.small-margin {
	margin-bottom: 0.5em;
}

.no-margin {
	margin-bottom: 0;
}

.blog-post {
	margin-bottom: 2em;
}

.blog-post:last-child {
	margin-bottom: 0;
}

.pagination {
	margin-bottom: 1em;
}

	.separator {
		padding: 0 1.5em;
	}

	.no-link {
		color: #999999;
	}

.align-left {
	float: left;
}

.align-right {
	float: right;
}

 /*  Skills / Progress Bars */

.progress-bar { 
	float        : left;
	display      : block;
	width        : 100%; 
	height       : 0.5em; 
	background   : #999999;
	border-radius: 0.15em;
	margin-bottom: 1em;
}

	.tip {
		float        : left;
		display      : block;
		width        : 100%; 
		height       : 0.5em; 
		background   : #222222;
		border-radius: 0.15em 0 0 0.15em;
	}

/*=================
    Grid System
=================*/

/*---------
   Grids
---------*/

.container {
	width : 95%;
	height: 100%; 
	margin: 0 auto;
}

	.grid { 
		max-width: 1140px;
		margin   : 0 auto;
	}

	.row { 
		clear   : both;
		overflow: hidden;
	}

		[class^="col-"] {
			min-height  : 0.1em;
			margin-right: 2.85%;
			float       : left;
		}

		.col-twelve {
			width       : 99.75%;
			margin-right: 0;
		}

		.col-eleven {
			width: 91.2%;
		}

		.col-ten {
			width: 82.65%;
		}

		.col-nine {
			width: 74.1%;
		}

		.col-eight {
			width: 65.55%;
		}

		.col-seven {
			width: 57%;
		}

		.col-six {
			width: 48.45%;
		}

		.col-five {
			width: 39.9%;
		}

		.col-four {
			width: 31.35%;
		}

		.col-three {
			width: 22.8%;
		}

		.col-two {
			width: 14.25%;
		}

		.col-one {
			width: 5.7%;
		}

	.last {
		margin-right: 0;
	}

/*-----------------
   Media Queries
-----------------*/

/* iPad/Tablet (Portrait) */
@media screen and (max-width: 768px), screen and (max-device-width: 768px) {

	img {
		max-width: 100%;
		max-height: auto;
	}

	[class^="col-"] {
		width     : 100%;
		min-height: 0;
		float     : none;
	}

	header {
		margin-top: 1em;
	}

		.logo {
			font-size    : 2.75em;
			line-height  : 1.2;
			margin-bottom: 0.35em;
		}

	input[type="text"],
	input[type="email"],
	input[type="search"],
	textarea {
			width: 95%;
	}

}

/* iPhone/Smartphone (Landscape) */
@media screen and (max-width: 480px), screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {

	body {
		font-size: 150%;
	}

	.container {
		width: 92.5%;
	}

	.logo {
		font-size: 2.5em;
	}

	.copyright {
		margin-bottom: 0.5em;
	}

}