//
// ## Defaults
//

// ### Units

base-spacing-unit = 1.5rem
sticky-footer     = 4.5rem

// ### Type

base-line-height = unit(base-spacing-unit, '')
base-font-weight = 400
base-font-family = "Source Sans Pro", Helvetica, Arial, Sans-serif
base-font-size   = 1rem

// ### Colors

base-font-color       = #444
light-font-color      = #ddd
base-background-color = #fcfcfc
dark-background-color = #f8f8f8
base-brand-color      = #268bd2

// ### Breakpoints

breakpoint-lap  = 'screen and (min-width: 769px)'
breakpoint-desk = 'screen and (min-width: 1024px)'
