//
// ## Defaults
//

// ### Loom

loom = {}

loom.base = {
  fontSize: 1rem,
  spacingUnit: 1.5rem,
  wrapWidth: 30rem
}

// ### Base

base = {
  fontSize: loom.base.fontSize,
  spacingUnit: loom.base.spacingUnit
}

// ### Breakpoints

palm = 'screen and (max-width: 30em)'
lap  = 'screen and (min-width: 45em)'
desk = 'screen and (min-width: 60em)'

// ### Colors

color = {}

color.base = {
  bg: #fff,
  fg: #444
}

color.dark = {
  fg: #111
}

color.light = {
  fg: #aaa,
  bg: #ddd
}

color.brand = {
  fg: #0086b3
}
