//
// ## Headings
//

h1, .alpha
  font-sizer(2.25rem)

h2, .beta
  font-sizer(2rem)

h3, .gamma
  font-sizer(1.75rem)

h4, .delta
  font-sizer(1.5rem)

h5, .epsilon
  font-sizer(1.25rem)

h6, .zeta
  font-sizer(1.125rem)
