//
// ## Links
//

a
  text-decoration: none
  color: inherit
  border-bottom: 1px solid light-font-color
  &:hover,
  &:focus,
  &:active
    border-bottom: 2px solid base-brand-color
  &:active
    position: relative
    top: 1px
