//
// ## Lists
//

ul
  list-style-type: square

ol
  list-style-type: decimal

ul,
ol,
dd
  margin-left: pixels(base-spacing-unit)
  margin-left: base-spacing-unit

li
  ul,
  ol
    margin-bottom: 0

// ### Pigeon (https://github.com/rowanmanning/pigeon)

.secret-list
  list-style: none
  margin-left: 0
