//
// # Quotes
//

blockquote
  padding: 0 pixels(base-spacing-unit)
  padding: 0 base-spacing-unit
  border-left: 4px solid base-brand-color
  font-size: pixels(base-font-size * 0.875)
  font-size: base-font-size * 0.875
