//
// ## Shared
//

h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, hr,
table, fieldset,
figure,
pre
  margin-bottom: pixels(base-spacing-unit)
  margin-bottom: base-spacing-unit

h1, h2, h3, h4, h5, h6,
b, strong,
caption, th,
dt
  font-weight: 600

blockquote,
img
  font-style: italic
