<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% for url in site.data.assets.dns %}
  <link rel="dns-prefetch" href="{{ url }}">
  {% endfor %}
  <title>{{ page.title }} // {{ site.name }}</title>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
  <![endif]-->
  {% for url in site.data.assets.stylesheets %}
  <link rel="stylesheet" href="{{ url }}">
  {% endfor %}
  <link rel="shortcut icon" href="{{ site.data.assets.icon }}">
  <link rel="canonical" href="{{ site.url }}">
  <link rel="author" href="{{ site.author }}" type="text/plain">
  <link rel="alternate" href="{{ site.feed }}" type="application/rss+xml">
</head>
<body>
  <nav class="site-nav">
    <div class="island">
      <ul class="nav banner cramp">
      {% assign tail = site.data.navigation | last %}
      {% for link in site.data.navigation %}
        {% if link == tail %}
        <li>
        {% else %}
        <li class="breathe">
        {% endif %}
          <a class="shh" href="{{ link.url }}"><i class="{{ link.icon }}"></i></a>
        </li>
      {% endfor %}
      </ul><!-- /nav -->
    </div><!-- /island -->
  </nav><!-- /site-nav -->
  <header class="site-header">
    <div class="landmark banner">
      <div class="wrapper">
          <h1 class="site-logo">
            <a class="shh" href="/">Ellen</a>
          </h1>
          <p class="smallprint cramp">{{ site.description }}</p>
      </div><!-- /wrapper -->
    </div><!-- /landmark -->
  </header><!-- /site-header -->
  <div class="site-content">
    <div class="island">
      <div class="wrapper">
        {{ content }}
      </div><!-- /wrapper -->
    </div><!-- /island -->
  </div><!-- /site-content -->
  <footer class="site-footer">
    <div class="island banner">
      <div class="wrapper">
        <p class="smallprint cramp">Copyright &copy; <a class="shh" href="/about/">{{ site.name }}</a> {{ site.time | date: "%Y" }}</p>
      </div><!-- /wrapper -->
    </div><!-- /island -->
  </footer><!-- /site-footer -->
  {% if page.highlight %}
    {% include highlight.html %}
  {% endif %}
</body>
</html>
